# Normalize line endings
* text=auto

# Ignore generated / external files
node_modules/* linguist-vendored
vendor/* linguist-vendored
dist/* linguist-generated
build/* linguist-generated

# Mark documentation files
docs/* linguist-documentation

*.h linguist-language=C
Dockerfile linguist-language=Dockerfile